.watchPage {
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Corrected alignment */
  padding: 50px;
  width: 95%;
  min-height: 95vh;
  background-color: #ffffff; /* White background for contrast */
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.videoPlayer {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  border-radius: 15px;
  width: 70%; /* Set to 100% for responsiveness */
  height: auto;
  max-height: 700px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.videoPlayer:hover {
  transform: scale(1.01); /* Slight scale on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 28px;
  color: #333333;
  display: inline-block;
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.undervideo {
  width: 70%;
}


.buttons {
  float: right;
  
  vertical-align: middle;
}

button {
  display: inline-block;
  margin-right: 20px;
  justify-content: center;
  background-color: #ffffff; /* Light gray for buttons */
  color: #333;
  border: none;
  padding: 10px 20px;
  width: auto;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: solid 1px gray;
}

button:hover {
  background-color: #b3b3b3; /* Darker gray on hover */
}

button.dislike {
  background-color: #e0e0e0; /* Lighter gray for dislike */
}

button.dislike:hover {
  background-color: #b3b3b3; /* Darker gray on hover */
}

.viewCount {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
}

.likeimg {
  height: 20px;
  margin: 5px;
}

.highinfo {
  display: inline-block;
  width: 100%;
}

.views {
  display: inline-block;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
}

.compviews {
  margin-top: 10px;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc.expanded {
  white-space: pre-wrap; /* Для многострочного текста */
  word-wrap: break-word; /* Перенос длинных слов */
  word-break: break-word; /* Перенос слов, если они слишком длинные */
}


.info {
  background-color: #ffffff; /* Light gray for buttons */
  color: #333;
  padding: 10px;
  width: auto;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: solid 1px gray;
  transition: max-height 0.3s ease-in-out; /* Плавное изменение высоты */
  max-height: 100px; /* Изначально ограниченная высота */
  overflow: hidden; /* Скрываем содержимое */
}

.info.expanded {
  max-height: 1000px;
  height: auto;
}
