/* Общие стили для всей страницы */
html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Шрифт Roboto для современного вида */
  background-color: #f5f5f5; /* Светло-серый фон для всей страницы */
}

/* Основной контейнер для страницы */
.uploadPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 60vw;
  width: 90%;
  background-color: #ffffff; /* Белый фон для контейнера */
  border-radius: 8px; /* Закруглённые углы контейнера */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень для выделения */
  margin: 5vh;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}

/* Заголовок */
.uploadPage h1 {
  margin-bottom: 20px;
  color: #333333; /* Темно-серый цвет для заголовка */
  font-size: 26px; /* Размер шрифта заголовка */
  font-weight: 500; /* Полужирное начертание заголовка */
}

/* Поле ввода заголовка */
.uploadPage .titleInput {
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #dcdcdc; /* Светло-серый цвет границы */
  box-sizing: border-box; /* Включает padding и border в ширину элемента */
}

/* Поле выбора файла */
.uploadPage input[type="file"] {
  margin-bottom: 20px;
  border: 1px solid #dcdcdc; /* Лёгкая граница для файла */
  padding: 8px; /* Отступы внутри файла */
  border-radius: 4px; /* Закруглённые углы */
  background-color: #ffffff; /* Белый фон для файла */
}

/* Кнопка */
.uploadPage button {
  padding: 12px 24px;
  background-color: rgb(188,152,126);
  color: #ffffff; /* Белый цвет текста */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
}

/* Эффект при наведении на кнопку */
.uploadPage button:hover {
  background-color: rgb(155, 121, 96);
  transform: scale(1.05); /* Легкое увеличение кнопки при наведении */
}

/* Сообщение о статусе */
.uploadPage .statusMessage {
  margin-top: 20px;
  color: #28a745; /* Цвет для успешного сообщения */
  font-size: 14px; /* Размер шрифта для статуса */
}

.uploadPage .descriptionInput {
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
  min-height: 40px; /* Минимальная высота */
  max-height: 200px; /* Максимальная высота, если необходимо */
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #dcdcdc; /* Светло-серый цвет границы */
  box-sizing: border-box; /* Включает padding и border в ширину элемента */
  resize: none; /* Запретить изменение размера пользователем */
  overflow: true; /* Скрыть полосы прокрутки */
}

